<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Executables</key>
		<array>
			<string>adprivacyd</string>
			<string>analyticsd</string>
			<string>aggregated</string>
			<string>assetsd</string>
			<string>bulletindistributord</string>
			<string>CAReportingService</string>
			<string>dasd</string>
			<string>duetexpertd</string>
			<string>exchangesyncd</string>
			<string>healthappd</string>
			<string>HeuristicInterpreter</string>
			<string>kbd</string>
			<string>MobileGestaltHelper</string>
			<string>newsd</string>
			<string>powerlogHelperd</string>
			<string>PowerUIAgent</string>
			<string>searchpartyd</string>
			<string>siriactionsd</string>
			<string>siriknowledged</string>
			<string>suggestd</string>
			<string>webbookmarksd</string>
			<!-- New additions -->
			<string>wifianalyticsd</string>
			<string>coreduetd</string>
			<string>nsurlsessiond</string>
			<string>druid</string>
			<string>distnoded</string>
			<string>corespeechd</string>
			<string>splashboardd</string>
			<string>fitcored</string>
			<string>searchd</string>
			<!-- Unconfirmed culprit -->
			<!--
			<string>assistantd</string>
			<string>cloudd</string>
			<string>contextstored</string>
			<string>healthd</string>
			<string>iconservicesagent</string>
			<string>locationd</string>
			<string>mediaserverd</string>
			<string>nanoprefsyncd</string>
			<string>navd</string>
			<string>pairedsyncd</string>
			<string>pkd</string>
			<string>pkreporter</string>
			<string>remindd</string>
			<string>tursd</string>
			<string>wcd</string>
			-->
		</array>
	</dict>
</dict>
</plist>
