Package: se.arweb.jetsamfix
Name: JetsamFix
Depends: firmware (>= 13.0), mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A workaround for crashes related to jetsam memory management.
Maintainer: ARWeb
Author: ARWeb
Section: Tweaks
Icon: https://arwebse.github.io/depictions/se.arweb.jetsamfix/icon.png
Depiction: https://arwebse.github.io/depictions/?p=se.arweb.jetsamfix
